.list {
  width: 100%;
  height: 20%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid grey;
  list-style: none;
  margin: 0;
  padding: 0;
}

.trait {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
