.form-button {
	display: block;
	appearance: none;
	background-color: white;
	color: #333;
	text-align: center;
	text-decoration: none;
	width: 250px;
	max-width: 100%;
	outline: 0;
	border: 0;
	padding: 10px 15px;
	margin: 20px auto 10px auto;
	border-radius: 3px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.25s ease;

	&:hover{
		background-color: rgba(255, 255, 255, 0.8);
	}
}
