:root {
	--color-grey-dark: #3C3B3D;
	--color-grey-light: #F5F7FA;

	--color-blue: #5D9CEC;
	--color-green: #A0D468;
	--color-red: #D8334A;
	--color-yellow: #FFCE54;
	--color-orange: #FC6E51;
	--color-teal: #A0CECB;
	--color-purple: #8067B7;
	--color-pink: #EC87C0;
}
